# Byte-compiled / optimized / DLL files
__pycache__/
*__pycache__
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
push.sh

# Model weights
checkpoints
**/*.pth
**/*.onnx
**/*.pt
**/*.pth.tar

.idea
.vscode
.DS_Store
*.DS_Store

*.swp
tmp*

*build
*.egg-info/

log/*
*.jpg
*.wav
*.pth
*.pyc
*.jpeg

!example/audio.wav
!example/image.png

frontend/node_modules
frontend/.env